@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model SummitTrackerClient.Models.DataModels.GeographyModel


<form method="post">
    <p>SummitID</p>
    <input type="number" name="SummitID" />
    <p>Mountain range</p>
    <input type="text" name="MountainRange" />
    <p>Country</p>
    <input type="text" name="Country" />
    <p>Continent</p>
    <input type="text" name="Continent" />
    <p>Coordinates</p>
    <input type="text" name="Coordinates" />
    <input type="submit" />
</form>