@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SummitTrackerClient.Models.DataModels.SummitModel

<form method="post">
    <p>Name</p>
    <input type="text" name="SummitName"/>
    <p>feet</p>
    <input type="number" name="HeightFt"/>
    <p>metres</p>
    <input type="number" name="HeightMetres"/>
    <input type="submit"/>
</form>