@{
    ViewData["Title"] = "Home Page";
}


<div class="text-left">
    <h1 class="display-4">Summit Tracker</h1>
    <h2>Track &amp; Share Your Asscents With Fellow Climbers!</h2>
    <p>Summit Tracker is a free online analytical platform that specialises in tracker your assents globaly.</p>

    <button type="button" class="btn btn-primary">Sign-Up to start tracking your asscents</button>

    <h1>Assents tracked on all 7 continents</h1>
    <h1>More than 1k peaks summited</h1>
</div>
